body {
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: var(--Color1); font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}
:root {
    --Color1:hsl(225, 100%, 94%);
    --Color2:hsl(245, 75%, 52%);
    --Color3:hsl(225, 100%, 98%);
    --Color4:hsl(224, 23%, 55%);
    --Color5:hsl(223, 47%, 23%);
}
p {
    font-size: 16px;
}
.paragraph1 {
    color: var(--Color4);
}
.btn-main {
    background-color: var(--Color2);
    color: white;
    transition: 0.3s;
}
.btn-main:hover {
    background-color: var(--Color2);
    opacity: 0.8;
    color: white;
    transition: 0.3s;
}
.parent {
    background-color: var(--Color3);
    padding: 5%;
    border-radius: 8px;
}
.card {
    border-radius: 20px !important;
    width: 30%;
}
.cancel {
    font-weight: bold;
    color: var(--Color4);
    cursor: pointer;
    width: fit-content;
    margin: auto;
    transition: 0.3s;
}
.cancel:hover {
    color: black;
    transition: 0.3s;
}
.change {
    font-weight: bold;
    color: var(--Color2);
    transition: 0.3s;
}
.change:hover {
    opacity: 0.8;
    text-decoration: none;
    transition: 0.3s;
}
.year {
    color: var(--Color4);
}
@media only screen and (max-width: 768px) {
    p {
        font-size: 16px;
    }
    .paragraph1 {
        color: var(--Color4);
    }
    .btn-main {
        background-color: var(--Color2);
        color: white;
        transition: 0.3s;
    }
    .btn-main:hover {
        background-color: var(--Color2);
        opacity: 0.8;
        color: white;
        transition: 0.3s;
    }
    .parent {
        background-color: var(--Color3);
        padding: 5%;
        border-radius: 8px;
    }
    .card {
        border-radius: 20px !important;
        width: 60%;
    }
    section {
        
    }
    .cancel {
        font-weight: bold;
        color: var(--Color4);
        cursor: pointer;
        width: fit-content;
        margin: auto;
        transition: 0.3s;
    }
    .cancel:hover {
        color: black;
        transition: 0.3s;
    }
    .change {
        font-weight: bold;
        color: var(--Color2);
        transition: 0.3s;
    }
    .change:hover {
        opacity: 0.8;
        text-decoration: none;
        transition: 0.3s;
    }
    .year {
        color: var(--Color4);
    }
  }